
/**********************************************************************************************************************************************************
 * HEADER/NAVIGATION
 *********************************************************************************************************************************************************/

#forms-content>header{
	text-align: left;
	display: block;
	width:100%;
	color: #999;
	clear: both;
	padding: 5px 0;
	margin: 0 0 15px 0;
}

#forms-content>header h5{
	clear: both;
}

#form-wrapper header {
	text-align: left;
	display: block;
	width:100%;
	border-bottom: 1px solid #e7e7e7;
	color: #999;
}

#form-wrapper header h5 {
	font-weight: lighter;
	margin: 5px 0;
}

#forms-nav {
	background-color: #FDF5E8;
	border:1px solid #ffecbf;
	padding: 10px;
}

#forms-nav ul {
	margin: 0 auto 0 auto;
	text-align: center;
}

#forms-nav ul li {
	width:170px;
	height: 32px;
	margin: 5px auto 5px auto;
	text-align: center;
	background-repeat: no-repeat;
}

#forms-nav a { 
	font-family: "Arial";
	font-size: 10px;
	font-size: 1.0rem;
	text-align: left;
	position: relative;
	top: 10px;
	color:#666;
}
/**********************************************************************************************************************************************************
* CONTENT
**********************************************************************************************************************************************************/

/**
 *--------------------------
 *  Main Content 
 *--------------------------
 */
#forms-content {
	background-color: white;
	border:3px solid #ffecbf;
	height:auto;
	min-height: 690px;
	padding: 25px 20px;
}

/**
 * -------------------
 * Forms Menu
 * -------------------
 */

#forms-menu {
	text-align: center;
	margin: 0 auto 0 auto;
}

#forms-menu-list {
	width: 100%;
	text-align: center;
	margin: 0 auto 0 auto;
}

.form-item-row {
	width: auto;
	display: inline-block;
	text-align: center;
	margin: 2% 0 2% auto;
	float: none;
}

.form-item {
	height:150px;
	width: 260px;
	margin: 0 15px;
	display: inline-block;
	border: 4px solid #ccc;
	background-color: #333;
	overflow: hidden;
	box-shadow: 5px 5px 3px #333;
}

.form-item:hover {
	border: 4px solid #E8CB95;
}

.form-item-caption {
	background-color: rgba(0, 0 ,0 , .8);
	color: white;
	height:auto;
	padding:3px 0;
	position: relative;
}

form {
	margin: 10px 0;
}
/**
 * -------------------
 * The Form
 * -------------------
 */

/* These are the form 'rows'*/
form>ul li {
	display: block;
	text-align: left;
	margin: 10px 0;
}

form>ul li ul li ul {
	width: auto;
	display: inline-block;
}

form>ul li ul li,
form>ul li ul li ul li {
	display: inline-block;
}

form>ul li ul li {
	margin: 0 8px;
}

form>ul li ul li:first-child {
	margin: 0 5px 0 0;
}

form>ul li ul li:last-child {
	margin: 0 0 0 5px;
}

input, select {
	width:100%;
}

select {
	padding: 3px;
}

/**
 * ----------------------
 * Specific Form Elements
 * ----------------------
 */

#n-o-d-wrapper {
	width:53%;
}

#gender-wrapper {
	width: 10%;
}

#d-o-b-wrapper {
	width:32.7%;
}

#d-o-b-wrapper ul li:first-child {
	width:30%;
}

#d-o-b-wrapper ul li:first-child label {
	font-size: 11px !important;
}

#d-o-b-wrapper ul li:last-child {
	width:60%;
}

#ssn-wrapper {
	width:45%;
	margin:0;
}

#other-wrapper {
	width:30%;
	text-align: right;
}

#cremated-name-wrapper {
	width:55%;
	margin:0;
}

.cremated-address-wrapper {
	width:60%;
}

.cremated-city-wrapper {
	width:34%;
}

#cremated-will-call-wrapper {
	width: 55%;
}

#cremated-will-call-date-wrapper {
	width: 43%;
}

#cremated-rel-wrapper {
	margin:0;
	width: 50%;
}

#cremated-tel-wrapper {
	width:39%;
	margin:0;
}

#witness-wrapper {
	width: 55%;
}

#witness-date-wrapper {
	width: 43%;
}
/**********************************************************************************************************************************************************
 * FOOTER
 *********************************************************************************************************************************************************/