
/**********************************************************************************************************************************************************
 * HEADER/NAVIGATION
 *********************************************************************************************************************************************************/

#forms-content>header{
	text-align: left;
	display: block;
	width:100%;
	color: #999;
	clear: both;
	padding: 5px 0;
	margin: 0 0 15px 0;
}

#forms-content>header h5{
	clear: both;
}

#form-wrapper header {
	text-align: left;
	display: block;
	width:100%;
	border-bottom: 1px solid #e7e7e7;
	color: #999;
}

#form-wrapper header h5 {
	font-weight: lighter;
	margin: 5px 0;
}

#forms-nav {
	background-color: #FDF5E8;
	border:1px solid #ffecbf;
	padding: 10px;
}

#forms-nav ul {
	margin: 0 auto 0 auto;
	text-align: center;
}

#forms-nav ul li {
	width:170px;
	height: 32px;
	margin: 5px auto 5px auto;
	text-align: center;
	background-repeat: no-repeat;
}

#forms-nav a { 
	font-family: "Arial";
	font-size: 10px;
	font-size: 1.0rem;
	text-align: left;
	position: relative;
	top: 10px;
	color:#666;
}
/**********************************************************************************************************************************************************
* CONTENT
**********************************************************************************************************************************************************/

/**
 *--------------------------
 *  Main Content 
 *--------------------------
 */

/**
 * -------------------
 * Forms Menu
 * -------------------
 */


form {
	margin: 10px 0;
}
/**
 * -------------------
 * Cremation
 * -------------------
 */
.add_crem_prop,
.del_crem_prop {
	cursor: pointer;
}

.add_crem_prop:hover,
.del_crem_prop:hover {
	text-decoration: underline;
}

.other {
	margin-bottom: 20px;
}
/**
 * ----------------------
 * Specific Form Elements
 * ----------------------
 */


/**********************************************************************************************************************************************************
 * FOOTER
 *********************************************************************************************************************************************************/