/**********************************************************************************************************************************************************
 * IMPORTED STYLES																																																																        *
 *********************************************************************************************************************************************************/

/**********************************************************************************************************************************************************
* FONT KITS																																																														                  *
*********************************************************************************************************************************************************/


/**********************************************************************************************************************************************************
 * DEFAULTS/NORMALIZATIONS/BODY																																																														*
 *********************************************************************************************************************************************************/

/**********************************************************************************************************************************************************
 * HEADER/NAVIGATION        																																																															*
 *********************************************************************************************************************************************************/

/**********************************************************************************************************************************************************
* CONTENT
**********************************************************************************************************************************************************/

/*
 *--------------------------
 * Intro
 *--------------------------
 */
#intro-content {
	height:100%;
	width:100%;
	margin: 0 auto;
	text-align: center;
}

#slide-show {
	height: 100%;
	margin: 0 auto;
	text-align: center;
}

#slide-show figure {
	width:auto;
	height: auto;
	border: 4px solid #ffecbf;
	background-color: white;
	margin: 0 auto;
	padding:4px;
	text-align: center;
}

#slide-show img {
	width:100%;
	height: auto;
	text-align: center;
	margin: 0 auto;
}

/**********************************************************************************************************************************************************
 * FOOTER
 *********************************************************************************************************************************************************/

#intro-footer {

}

.column {
	padding: 20px 0;
}

.column>header {
	width: 100%;
	margin: 0 auto 15px auto;
}

.column>header img {
    float: left;
}

.column>header h2 {
	font-size: 19px;
  font-size: 1.9rem;
  font-weight: lighter;
  text-transform: uppercase;
  position: relative;
  top:30px;
}

.column>header article {
	clear: both;
	margin:0 auto;
	text-align: center;
}

.column>header article p {
	font-size: 14px;
	font-size:1.4rem;
	color:  #b57b10;
	font-weight: bold;
	margin:0 auto;
	text-align: left;
}

.column>article p {
	font-size: 12px;
	font-size:1.2rem;
}

.column figure img {
	text-align: center;
	margin: 0 auto;
}

.column .sub-menu {
	clear: both;
	background-image: url('/images/accordion_border.png');
  background-repeat: no-repeat;
  background-position: 0 100%;
	text-align: center;
	margin: 10px auto;
	width: 100%;
}

.sub-menu figure {
	width:auto;
	float: left;
	margin:3px  10px 0 0;
}

.sub-menu article {
	text-align: left;
	float: left;
	width:75%;
}

.sub-menu article p {
	text-align: left;
	margin:0;
	padding:0;
}

.sub-menu article h2 {
	color:#b57b10;
	font-size: 18px;
	font-size: 1.8rem;
	margin:0;
	padding:0;
}
/**********************************************************************************************************************************************************
 
 *********************************************************************************************************************************************************/
