/**********************************************************************************************************************************************************
 * IMPORTED STYLES																																																																        *
 *********************************************************************************************************************************************************/

/**********************************************************************************************************************************************************
* FONT KITS																																																														                  *
*********************************************************************************************************************************************************/


/**********************************************************************************************************************************************************
 * DEFAULTS/NORMALIZATIONS/BODY																																																														*
 *********************************************************************************************************************************************************/

/**********************************************************************************************************************************************************
 * HEADER/NAVIGATION        																																																															*
 *********************************************************************************************************************************************************/

/**********************************************************************************************************************************************************
* CONTENT
**********************************************************************************************************************************************************/

/*
 *--------------------------
 * Intro
 *--------------------------
 */
#intro-content {
	height:100%;
	width:100%;
	margin: 0 auto;
	text-align: center;
}

#slide-show {
	height: 100%;
	margin: 0 auto;
	text-align: center;
}

#slide-show img {
	width:99%;
	height: auto;
	text-align: center;
	margin: 0 auto;
}

/**********************************************************************************************************************************************************
 * FOOTER
 *********************************************************************************************************************************************************/

#intro-footer {

}

.column {
	padding: 20px 10px;
}

.column header {
	width: 85%;
	margin: 0 0 15px 0;
}

.column header img {
    float: left;
}

.column header h2 {
	font-size: 19px;
  font-size: 1.9rem;
  font-weight: lighter;
  text-transform: uppercase;
  position: relative;
  top:30px;
}

.column header article {
	clear: both;
	font-size: 14px;
	font-size:1.4rem;
	color:  #b57b10;
	font-weight: bold;
}

.column article p {
	font-size: 12px;
	font-size:1.2rem;
}

/**********************************************************************************************************************************************************
 
 *********************************************************************************************************************************************************/
