
/**********************************************************************************************************************************************************
 * HEADER/NAVIGATION
 *********************************************************************************************************************************************************/

/**********************************************************************************************************************************************************
* CONTENT
**********************************************************************************************************************************************************/

/*
 *--------------------------
 *  Main Content 
 *--------------------------
 */
.featured-quote {
	color: #333;
	font-size: 18px;
	font-size: 1.8rem;

}

.quote {
	color: #666;
	font-size: 48px;
	position: relative;
	top:20px;
	line-height: 0;
}

p .quote {
	color: #666;
	font-size: 28px;
	position: relative;
	top:7px;
	line-height: 0;
}

.byline {
	color: #999;
	display: block;
}

.emph {
	color:#b57b10;
	font-size: 26px;
	font-size: 2.6rem;
}
/**********************************************************************************************************************************************************
 * FOOTER
 *********************************************************************************************************************************************************/

/**********************************************************************************************************************************************************
 
 *********************************************************************************************************************************************************/
