/**********************************************************************************************************************************************************
 * IMPORTED STYLES
 *********************************************************************************************************************************************************/

/**********************************************************************************************************************************************************
* FONT KITS
*********************************************************************************************************************************************************/

/**********************************************************************************************************************************************************
* COLORS
*********************************************************************************************************************************************************
    Type:                           #272727
    Dividers/border:                #efdabf
    colum articles:                 #b57b10
*/

/**********************************************************************************************************************************************************
 * DEFAULTS/NORMALIZATIONS/BODY
 *********************************************************************************************************************************************************/

/**********************************************************************************************************************************************************
 * HEADER/NAVIGATION
 *********************************************************************************************************************************************************/


/**********************************************************************************************************************************************************
* CONTENT
**********************************************************************************************************************************************************/

/*
 *--------------------------
 *  Main Content wrapper
 *--------------------------
 */

.product-listing {
    margin: 10px 0;
    padding:5px;
}

.product-listing:nth-child(even) {
    background-color: #fef6eb;
    color:#111;
}

.product-title {
    border-bottom: 1px solid #cdcdcd;
    display: inline-block;
    text-align: left;
}

.product-price {
    font-weight: lighter;
    color:#B57B10;
    margin-right: 12px;
}

.product-desc {

}

.product-desc>header {
    margin-bottom:5px;
    padding-right:15px;
}

.product-details {
    display: table-cell;
    vertical-align: middle;
}


.product-desc>header>hgroup:first-child {
    text-align: left;
}

.product-desc>header>hgroup:nth-child(2) {
    text-align: right;
}

.product-image {

}

.product-image img {
    border:1px solid #cdcdcd;
    padding:5px;
    cursor: pointer;
    background-color: white;
}

.accordion {
    width: 98%;
    margin: 10px 0;
}

.accordion>header {
    color: #333;
    padding: 10px 5px 0 5px;
    text-align: left;

    background-image: linear-gradient(bottom, rgb(245,213,144) 0%, rgb(255,249,229) 53%, rgb(245,213,144) 100%);
    background-image: -o-linear-gradient(bottom, rgb(245,213,144) 0%, rgb(255,249,229) 53%, rgb(245,213,144) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(245,213,144) 0%, rgb(255,249,229) 53%, rgb(245,213,144) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(245,213,144) 0%, rgb(255,249,229) 53%, rgb(245,213,144) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(245,213,144) 0%, rgb(255,249,229) 53%, rgb(245,213,144) 100%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(245,213,144)),
        color-stop(0.53, rgb(255,249,229)),
        color-stop(1, rgb(245,213,144))
    );
}


.accordion>header img {
    width: 42px;
    height: 42px;
}


.toggle {
    display: inline-block;
    width:17px;
    height:15px;
    float:right;
    cursor: pointer;
    background-repeat: no-repeat;
    position: relative;
    top:-7px;
    left: 23px;
}

.closed {
    background-image: url('/images/plus.png');
}

.opened {
    background-image: url('/images/minus.png');
}

.accordion:not(:first-child) .accordion-content {
    display: none;
}
.accordion-content {
    height:auto;
    border-left: 1px solid #f5d590;
    border-bottom: 1px solid #f5d590;
    border-right: 1px solid #f5d590;
    padding: 10px 5px 0 5px;
}

.accordion-content article {
    text-align: left;
}

.accordion-content article header{
    padding: 0 0 5px 0;
    border-bottom: 1px solid #e7e7e7;
}

.accordion-content article p {
    font-size: 14px;
    font-size: 1.4rem;
}
/**********************************************************************************************************************************************************
 * FOOTER
 *********************************************************************************************************************************************************/

/**********************************************************************************************************************************************************
 
 *********************************************************************************************************************************************************/
