/**********************************************************************************************************************************************************
 * IMPORTED STYLES
 *********************************************************************************************************************************************************/

/* Library styles */
@import url('../libs/1140/1140.css');
@import url('../libs/normalize/normalize.css');


/* Plugin styles */
@import url('../plugins/epicSlide/epicSlide.css');
/**********************************************************************************************************************************************************
* FONT KITS
*********************************************************************************************************************************************************/
@font-face {
    font-family: myHelvetica;
    src: local("Helvetica LT CondensedLight"),
         url("../fonts/helvetica-light/Helvetica_LT_Condensed_Light.ttf");
}
/**********************************************************************************************************************************************************
* COLORS
*********************************************************************************************************************************************************
    Type:                           #272727
    Dividers/border:                #efdabf
    colum articles:                 #b57b10
*/

/**********************************************************************************************************************************************************
 * DEFAULTS/NORMALIZATIONS/BODY
 *********************************************************************************************************************************************************/
* {
    margin:0;
    padding:0;
}

html {
    color: #272727;
    font-size: 62.5%;
    height: 100%;
    width: 100%;
}

body {
    font-family: "myHelvetica", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    background-image: url('/images/body_bg.png');
    background-size: cover;
    height: 100%;
    width: 100%;
}

body img {
    width: auto;
}

/*
 *--------------------------
 * Headers
 *--------------------------
 */

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
    font-weight: lighter;
}

h1 {
    font-size: 44px;
    font-size: 4.4rem;
}

h2 {
    font-size: 34px;
    font-size: 3.4rem;
}

h5 {
    font-size: 22px;
    font-size:2.2rem;
}

h6 {
    font-size: 16px;
    font-size:1.6rem;
}

/*
 *--------------------------
 * Links 
 *--------------------------
 */

a {
    color: #272727;
    font-size: 18px;
    font-size: 1.8rem;
    text-decoration: none;
}

a:hover {

}

a:visited {

}

a img {
    outline: none;
    border: none;
}

a h2:hover {
    text-decoration: underline;
}

#site-nav nav a:hover {
    color: #666;
}
/*
 *--------------------------
 * Lists 
 *--------------------------
 */

ul {
    padding:0;
    margin:0;
    width:100%;
}

li {
    list-style-type: none;
    display: block;
}

blockquote {
    font-size: 14px;
    font-size: 1.4rem;
}
/*
 *--------------------------
 * Images
 *--------------------------
 */
.fancy-img {
    z-index: 1000;
}

.fancy-img img {
    max-width: 100%; 
    height: auto; 
    vertical-align: 
    bottom; border: 10px solid #fff; 
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}

.fancy-img:before, .fancy-img:after {
    content: ""; 
    border-radius: 3px; 
    width: 100%; 
    height: 100%; 
    position: absolute; 
    border: 10px solid #fff; 
    left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    -webkit-transition: 0.3s all ease-out;
    -moz-transition: 0.3s all ease-out;
    transition: 0.3s all ease-out;
}

.fancy-img:before { 
    top: 4px; z-index: 990; /* 1st element in stack (behind image) */
} 

.fancy-img:after { 
    top: 8px; z-index: 980; /* 2nd image in stack */
}

.fancy-img.rotated:before {
    -webkit-transform-origin: bottom left;
    -moz-transform-origin: bottom left;
    transform-origin: bottom left;
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    transform: rotate(2deg);
}
.fancy-img.rotated:after {
    -webkit-transform-origin: bottom left;
    -moz-transform-origin: bottom left;
    transform-origin: bottom left;
    -webkit-transform: rotate(4deg);
    -moz-transform: rotate(4deg);
    transform: rotate(4deg);
}

#site-content figure img {
    border:1px solid #cdcdcd;
    padding:5px;
    cursor: pointer;
    background-color: white;
}
/*
 *--------------------------
 * Address 
 *--------------------------
 */
address {
    font-style: normal;
    font-weight: bolder;
    font-size: 18px;
    font-size: 1.8rem;
    color: #999;
}

/*
 *--------------------------
 * Forms
 *--------------------------
 */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="phone"],
input[type="number"],
input[type="date"],
select {
    height: auto;
    font-size: 15px;
    line-height: 15px;
    padding:4px 0 4px 4px;
    border: 1px solid #e7e7e7;
    outline: none;
}

input[type="checkbox"] {
    width: 22px;
    height:21px;
    border: 1px solid #e7e7e7;
    border-radius: 6px;
    display:none;
    /*background: url(/images/checkbox-unchecked.png);*/
}

textarea {
    border: 1px solid #e7e7e7;
    color: #999;
    font-size: 14px;
    font-size: 1.4rem;
    padding:5px;
    outline: none;
}

.unchecked {
    width: 22px;
    height:21px;
    /*background-color: #ffecbf;*/
    border-radius:6px;
    /*box-shadow: 2px 4px 4px #000;*/
    border:2px solid #e7e7e7;
    cursor: pointer;
    position: relative;
    top:7px;
}

.checked {
    width: 22px;
    height:21px;
    background-color: #ffecbf;
    border-radius:6px;
    /*box-shadow: 2px 4px 4px #000;*/
    border:2px solid #e7e7e7;
    cursor: pointer;
    position: relative;
    top:7px;
}

label {
    color: #999;
    font-size: 15px;
    text-align: left;
    font-weight: 700;
}

form>ul li {
    display: block;
    text-align: left;
    margin: 10px 0;
}

form>ul li ul li ul {
    width: auto;
    display: inline-block;
}

form>ul li ul li,
form>ul li ul li ul li {
    display: inline-block;
}

form>ul li ul li {
    margin: 0 8px;
}

form>ul li ul li:first-child {
    margin: 0 5px 0 0;
}

form>ul li ul li:last-child {
    margin: 0 0 0 5px;
}

input, select, textarea {
    width:100%;
}

select {
    padding: 3px;
}

.flush {
    margin:0 !important;
}

.wrapper-100 {
    width:100%;
}

.wrapper-80 {
    width: 80%;
}

.wrapper-75 {
    width:75%;
}

.wrapper-60 {
    width: 60%;
}
.wrapper-53 {
    width:53%;
}

.wrapper-43 {
    width: 43%;
}

.wrapper-32 {
    width: 32.7%;
}

.wrapper-30 {
    width: 30%;
}

.wrapper-20 {
    width: 20%;
}

.wrapper-10 {
    width: 10%;
}
/*
 *--------------------------
 * Floats
 *--------------------------
 */

.clear-15 {
    clear: both;
    min-height: 15px;
    height: 15px;
}

.clear-10 {
    clear: both;
    min-height: 10px;
    height: 10px;
}

/**********************************************************************************************************************************************************
 * HEADER/NAVIGATION
 *********************************************************************************************************************************************************/

#phone-number img {
    float: right;
}

#headline {
    padding: 4px 0 0 0;
}
 
.sm-icons-list {
    text-align: right;
}
 
.sm-icons-list li {
    display: inline;
}
 
.sm-icons-list li:not(last-child) {
    margin-right: 5px;
}

#site-header {
    background-image: url('/images/nav_bg.png');
    background-size: 100% 100%;
    min-height: 98px;
    /*height: 9%;*/
    padding-bottom: 5px;
    padding-top: 5px;
}

#site-nav {
    /*min-height: 42px;*/
    height: 100%;
}

#site-logo img {
    min-height: 98px;
}

#site-header nav {
    height: 100%;
    text-align: left;
    display: table;
    padding: 25px 0;
}

#site-header nav ul {
    display: table-row;
    height: 100%;
}

/* TODO: Set media query for a width of 554px */
#site-header nav ul li {
    background-image: url('/images/vert.png');
    background-position: 100% 0;
    background-size: 2px 45px;
    background-repeat: repeat-y;
    display: table-cell;
    vertical-align: middle;
    height: 58px;
    text-align: center;
    width:14.5%;
}

#site-header nav ul li:not(:first-child) {
    
}

#site-header nav ul li:last-child {
    background: none;
}

#site-header nav a {
    display: inline-block;
    height:auto;
    width: 100%;
    padding:0;
}

@media screen and (max-width: 767px) {
    #site-header {
        min-height: 42px;
        height: auto;
        padding-bottom: 5px;
        padding-top: 5px;
    }

    #site-nav {
        min-height: 42px;
        height: 100%;
    }

    #site-logo img {
        margin: 0 auto;
        min-height: 42px;
        height: 108px;
        min-width: 97px;
        text-align: center;
    }

    #site-header nav {
        min-height: 42px;
        float: none;
        height: 100%;
        width: 100%;
        text-align: center;
        display: table;
        margin: 0 auto;
    }

    #site-header nav ul li {
        display: table-cell;
        vertical-align: middle;
        height: 42px;
        text-align: center;
        width:14.5%;
    }
}

@media screen and (max-width: 586px) {

    #site-header {
        background-image: url('/images/content_bg.png')
    }

    #site-header nav {
        margin: 10px 0;
    }

    #site-header nav ul li {
        display: block;
        background: none;
        height: 42px;
        text-align: center;
        width:100%;
    }
}

.page-content>header {
    text-align: left;
    display: block;
    width:100%;
    color: #999;
    clear: both;
    padding: 5px 0;
    margin: 0 0 15px 0;
}

.page-menu>section,
.page-menu nav {
    background-color: #FDF5E8;
    border:1px solid #ffecbf;
}

.page-menu ul {
    margin: 0 auto 0 auto;
    text-align: center;
}

.page-menu ul li {
    width:170px;
    height: 32px;
    margin: 5px auto 5px auto;
    text-align: center;
    background-repeat: no-repeat;
    background-image: url('/images/form_nav_bg.png');
}

.page-menu a {
    font-family: "Arial";
    font-size: 10px;
    font-size: 1.0rem;
    text-align: left;
    position: relative;
    top: 10px;
    color: #666;
}

.content-wrapper {
    max-height: 690px;
    overflow-y:auto;
    overflow-x:hidden;
}

.content-wrapper>header h5{
    clear: both;
}

.content-wrapper>header {
    text-align: left;
    display: block;
    width:100%;
    border-bottom: 1px solid #e7e7e7;
    color: #999;
}

.content-wrapper>header h5 {
    font-weight: lighter;
    margin: 0 0 5px 0;
}

.sub-content-wrapper {
    padding:0;
    margin:0;
    height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
}
/**********************************************************************************************************************************************************
* CONTENT
**********************************************************************************************************************************************************/

/*
 *--------------------------
 *  Main Content wrapper
 *--------------------------
 */

#site-content {
    height: auto;
    min-height: 400px;
    text-align: center;
    margin: 10px auto;
    /*padding: 10px 5px;*/
}

.page-content {
    overflow: hidden;
    background-color: white;
    border:3px solid #ffecbf;
    height:auto;
    min-height: 400px;
    max-height: 690px;
    padding: 25px 20px;
}

.page-content article p {
    font-size: 16px;
    font-size: 1.6rem;
    text-align: left;
    line-height: 17px;
    line-height: 1.7rem;
}

@media screen and (max-width:1155px) {
    #site-content {
        padding: 10px 0;
    }
}
/**********************************************************************************************************************************************************
 * FOOTER
 *********************************************************************************************************************************************************/
#site-footer {
    background-image: url('/images/content_bg.png');
    background-size: 100% 100%;
    background-repeat: repeat-x;
    height:auto;
}

#who-we-are .column-content p {
    font-size: 14px;
    font-size: 1.4rem;
}

.column {
    padding: 20px 0;
}

.column>header {
    width: 100%;
    margin: 0 auto 15px auto;
}

.column>header img {
    float: left;
}

.column>header h2 {
    font-size: 19px;
  font-size: 1.9rem;
  font-weight: lighter;
  text-transform: uppercase;
  position: relative;
  top:30px;
}

.column>header article {
    clear: both;
    margin:0 auto;
    text-align: center;
}

.column>header article p {
    font-size: 14px;
    font-size:1.4rem;
    color:  #b57b10;
    font-weight: bold;
    margin:0 auto;
    text-align: left;
}

.column>article p {
    font-size: 12px;
    font-size:1.2rem;
}

.column figure img {
    text-align: center;
    margin: 0 auto;
}

.column .sub-menu {
    clear: both;
    background-image: url('/images/accordion_border.png');
  background-repeat: no-repeat;
  background-position: 0 100%;
    text-align: center;
    margin: 10px auto;
    width: 100%;
}

.sub-menu figure {
    width:auto;
    float: left;
    margin:3px  10px 0 0;
}

.sub-menu article {
    text-align: left;
    float: left;
    width:75%;
}

.sub-menu article a{
    display: inline-block;
}

.sub-menu article p {
    text-align: left;
    margin:0;
    padding:0;
    font-size: 12px;
    font-size: 1.2rem;
}

.sub-menu article h2 {
    color:#b57b10;
    font-size: 18px;
    font-size: 1.8rem;
    margin:0;
    padding:0;
}

footer .accordion {
    width: 78%;
    background-image: url('/images/accordion_border.png');
    background-repeat: no-repeat;
    background-position: 0 100%;
    text-align: center;
    margin: 0 auto;
}

footer .accordion>header {
    padding: 0 0 5px 15px;
    cursor: pointer;
    text-align: left;
    font-size: 13px;
    font-size: 1.3rem;
    background-image: none;
}

footer .closed {
    background-image: url('/images/accordion_arrow_closed.png') !important;
    background-position: 2px 2px;
    background-repeat: no-repeat;
}

footer .opened {
    background-image: url('/images/accordion_arrow_opened.png') !important;
    background-position: 2px 2px;
    background-repeat: no-repeat;
}

footer .accordion-content {
    display: none;
    padding: 10px;
    border: none;
}

footer .accordion-content p {
    margin:0;
    text-align: left;
    font-size: 14px;
    font-size: 1.4rem;
}
/**********************************************************************************************************************************************************
 
 *********************************************************************************************************************************************************/
